<header>
<div class="pageFullNav">
  <nav class="docs-navbar">
    <div class="footer-logo">
      <a target="_blank" href="#"><img  alt="Habilelabs" class="docs-footer-angular-logo" src="https://angular.io/assets/images/logos/angular/angular.png"></a>
    </div>
    <a class="docs-button mat-button" mat-button="" [routerLink]="['reg']" [routerLinkActive]="['router-link-active']" aria-disabled="false" tabindex="0"><span class="mat-button-wrapper">Registration</span>
      <div class="mat-button-ripple mat-ripple" mat-ripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <a class="docs-button mat-button" mat-button="" [routerLink]="['pol']" [routerLinkActive]="['router-link-active']" aria-disabled="false" tabindex="0"><span class="mat-button-wrapper">Policy</span>
      <div class="mat-button-ripple mat-ripple" mat-ripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <a _ngcontent-c1="" aria-label="GitHub Repository" class="docs-button mat-button" target="_blank" href="https://github.com/saurabhsharmaj/angular6" mat-button="" aria-disabled="false" tabindex="0">
      <span class="mat-button-wrapper">
        <img _ngcontent-c1="" alt="GitHub" class="docs-github-logo" src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg">
        GitHub
      </span>
      <div class="mat-button-ripple mat-ripple" mat-ripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </nav>
</div>
</header>