@import '../../theme/variables.scss';
.policy-form{
  width: 100%; float: left;
  .form{
    width: 500px;
    padding: 50px;
    margin: 88px auto;
    float: none;
    box-shadow: 0 0 5px $color-656;
    mat-form-field{
      display: inline;
    }
    .docs-homepage-bottom-start{
      margin-top: 50px;
      a.docs-button{
        background: $color-00b; color: $color-fff; padding: 5px 35px; font-size: 16px; text-transform: uppercase;
      }
    }
  }
}

.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}

