<div class="login-form">
  <form>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Enter Policy Id " value="">
      </mat-form-field>
     <br>
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Choose a start date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Choose a end date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="year" [startAt]="endDate"></mat-datepicker>
      </mat-form-field>
     
      <br>
    
      <mat-form-field>
        <input matInput placeholder="Enter Policy Cost " value="">
      </mat-form-field>
      <div class="docs-homepage-bottom-start">
        <a class="docs-button mat-raised-button" mat-raised-button="" aria-disabled="false" tabindex="0" href="/#"><span class="mat-button-wrapper">Save</span>
          <div class="mat-button-ripple mat-ripple" mat-ripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </div>
    </div>
  </form>
</div>